input:focus,
.container {
    color: #000000;
}

input,
.error {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.la-todo-liste,
.flash {
    font-family: 'Pacifico', garamond, cursive;
}

input {
    outline: none;
    border: 1px solid #E0E0E0;
    background: none;
    height: 30px;
    padding: 0 0 0 4px;
    margin: 0 0 4px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
}

input[type='submit'] {
    font-family: garamond, 'EB Garamond', serif;
    vertical-align: top;
    width: 140px;
}

input:focus,
input[type='submit']:hover {
    border: 1px solid #C7C7C7;
}

a, a:hover {
    color: #000000;
    text-decoration: none;
}

ul {
    width: 94%;
    margin: 28px 0;
}

li {
    font-family: helvetica, sans-serif;
    font-size: 28px;
    margin-bottom: 8px;
}

.la-todo-liste {
    font-size: 48px;
    margin: 40px 20px 32px;
}

.add-todo {
    margin-left: 40px;
}

.entrance {
    margin: 20px 0 0 40px;
}

.entrance > input {
    width: 180px;
}

.todo {
    width: 400px;
}

.flash {
    font-size: 16px;
    margin: 30px 40px;
}

.error {
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
}

@media (max-width: 479px) {
    li {
        font-size: 20px;
    }

    .todo {
        width: 90%;
    }
}