{% extends 'base.html' %}

{% block body %}

    <div class='container'>

        <form class='entrance' method='POST'>
            <input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
            <br><input type='text' name='username' placeholder='username'>
            <br><input type='password' name='password' placeholder='password'>
            <br><input type='submit' value='Register'>
        </form>

        {% for message in get_flashed_messages() %}
        <div class='flash'>{{ message }}</div>
        {% endfor %}

    </div>

{% endblock %}